body{
    //background-color: antiquewhite;
}

h2{
    font-size: medium;
    padding-left: 5px;
}

.table{
    width: 100%;
}

// .name-chat-line{
//     cursor: pointer;
// }



.local-time-info{
    font-size: small;
    color: rgb(75, 75, 75);
    margin: 0 auto;

    height: 15px;
    margin-left: 5px;
}

// .icon {
//     cursor: pointer;
//     color: rgb(255, 255, 255);
//     background-color: rgb(79, 127, 199);
//     border-radius: 50%; /* Make the element round */
//     width: 50px; /* Adjust width as needed */
//     height: 50px; /* Adjust height as needed */
//     text-align: center; /* Center the text horizontally */
//     font-size: larger;
//     line-height: 50px; /* Center the text vertically */
// }

.message-chat-line{
    padding-top: 0;
    background-color: rgba(255, 255, 255, 0);
    padding-bottom: 20px;
}

// .even {
//     background-color:rgb(255, 255, 255);
// }

// .odd {
//     background-color: rgb(245, 248, 255);
// }

// td:nth-child(even){

// }

// td:nth-child(odd){
//     color: rgb(255, 255, 255);
//     background-color: rgb(79, 127, 199);
//     border-radius: 50%; /* Make the element round */
//     width: 25px; /* Adjust width as needed */
//     height: 25px; /* Adjust height as needed */
//     text-align: center; /* Center the text horizontally */
//     font-size: larger;
//     line-height: 25px; /* Center the text vertically */
// }

.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.mmessage-input{
    padding-left: 50px;
    
}