<body>
  <h2>comments ({{listOfMessages.length}})</h2>
  <section class="chat-list">
    <table class="table">
      <!-- <tr>
        <th>User</th>
        <th>Message</th>
      </tr> -->
      <tr  *ngFor="let item of listOfMessages">
        <td class="table-name-field" matTooltip="{{item.user?.name}}">{{item.user?.name | slice: 0 : 1}}</td>
        <td>{{item.message}}</td>
      </tr>
    </table>
  </section>
  <section *ngIf="hasSession$ | async" class="message-form">
    <form novalidate [formGroup]="form"></form>
    <form novalidate class="form" [formGroup]="form">
      <mat-form-field>
        <textarea matInput placeholder="add comment" class="message-input" formControlName="messageInput" (ngModelChange)="onChangeMessageInput()"></textarea>
        <mat-error *ngIf="form.get('messageInput')?.hasError('maxlength')">
          Maximum 250 characters length
        </mat-error>
        <mat-error *ngIf="form.get('messageInput')?.value.length > 250">
          counter: {{form.get('messageInput')?.value.length}} characters length
        </mat-error>
      </mat-form-field>
      <button mat-button [disabled]= "!form.valid" (click)="sendMessage()">send comment</button>
    </form>
  </section>
</body>