<body>
  <h2>comments ({{listOfMessages.length}})</h2>
  <section class="chat-list">
    <table class="table">
      <tr *ngFor="let item of listOfMessages; let i = index">
        <div class="comment-container">
          <div class="left" matTooltip="{{item.user?.name}}">
            {{item.user?.name | slice: 0 : 1 | uppercase}}
          </div>
          <div class="right">
            <p>{{item.user?.name}} at {{item.localDate}}</p>
          </div>
        </div>
        <p class="message-chat-line">{{item.message}}</p>
      </tr>
    </table>
  </section>
  <section *ngIf="hasSession$ | async" class="message-form">
    <form novalidate [formGroup]="form"></form>
    <form novalidate class="form" [formGroup]="form">
      <mat-form-field>
        <textarea matInput placeholder="add comment" class="message-input" formControlName="messageInput"
          (ngModelChange)="onChangeMessageInput()"></textarea>
        <mat-error *ngIf="form.get('messageInput')?.hasError('maxlength')">
          Maximum 250 characters length
        </mat-error>
        <mat-error *ngIf="form.get('messageInput')?.value.length > 250">
          counter: {{form.get('messageInput')?.value.length}} characters length
        </mat-error>
      </mat-form-field>
      <button mat-button [disabled]="!form.valid" (click)="sendMessage()">send comment</button>
    </form>
  </section>
</body>