
body{
width: 100%;
}

.chat-list{
    width: 100%;
}

.table {
    width: 100%;
}

.table-row{
    width: 100cqw;
}

h2 {
    font-size: medium;
    padding-left: 5px;
}

.info-comment-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.left {
    background-color: #3f51b5;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: larger;
    line-height: 30px;/* Center the text vertically */
    color: azure;
    cursor: pointer;
    width: 30px;
    margin-left: 5px;
}

.right {
    margin-left: 5px;
    font-size: small;
    width: 100%;
}


.message-chat-line {
    color: rgb(0, 0, 0);
    font-size: large;
    margin-top: 2px;
    padding-top: 0;
    margin-left: 10px;
    padding-bottom: 20px;
    width: 95%;
    max-width: 95%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}