.toolbar{
  display: flex;
  flex-direction:row;
  margin-right: auto;
  justify-content:space-between;
  position: fixed;
  z-index: 2;
}

.logo {
    width: 200px;
}

.logo:hover{
  cursor: pointer;
}

.isHandset-logo{
  width: 150px;
}
  .headerButtons {
    margin-right: 10px;
  }

  .smallScreenButton{
    display:none !important;
  }