.logo {
    width: 200px;
}

.logo:hover{
  cursor: pointer;
}

.alignButtons {
    flex: 1 1 auto;
  }

  .headerButtons {
    margin-right: 10px;
  }

  .wellcomeMessage{
    position: absolute;
    right: 20%;
  }