.toolbar{
  display: flex;
  flex-direction:row;
  margin-right: auto;
  justify-content:space-between;
}

.logo {
    width: 200px;
}

.logo:hover{
  cursor: pointer;
}

.alignButtons {
    flex: 1 1 auto;
  }

  .headerButtons {
    margin-right: 10px;
  }

  .wellcomeMessage{
    position: absolute;
    right: 50%;
    color: rgb(150, 150, 150);
  }

  .smallScreenButton{
    display:none !important;
  }