body{
  //position: absolute;
  position: relative;
}

.try{
  z-index: 3;
  position: absolute;
  right: 140px;
  top: 60px;
}

.try.isHandSet{
  z-index: 3;
  position: absolute;
  right: 30px;
  top: 40px;
}

.try-img{
  width: 200px;
}

.try-img.isHandSet{
  width: 140px;
}


.cupStrip{
  position: relative;
  top: 75px;
  width: 100%;
  height: 70px;
  padding-top: 20px;
  background-image: url("../../../../assets/images/cup.svg");
  background-repeat: repeat-x;
  background-size: 100px;
  opacity: 50%;
}

.cupStrip.isHandSet{
  position: relative;
  top: 60px;
  width: 100%;
  height: 20px;
  background-image: url("../../../../assets/images/cup.svg");
  background-repeat: repeat-x;
  background-size: 50px;
  opacity: 50%;
}

.toolbar {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
}

.logo {
  width: 200px;
}

.logo:hover {
  cursor: pointer;
}

.isHandset-logo {
  width: 150px;
}

.headerButtons {
  margin-right: 10px;
}

.smallScreenButton {
  display: none !important;
}