<div class="dialogContainer">
    <h1 class="title">Register to Fanaticups!</h1>
    <mat-divider></mat-divider>
    <form class="formRegister" novalidate [formGroup]="form">

        <mat-form-field>
            <mat-label>name</mat-label>
            <input matInput placeholder="name" formControlName="name">
            <mat-error *ngIf="form.get('name')?.hasError('required')">
                Name required
            </mat-error>
            <mat-error *ngIf="form.get('name')?.hasError('minlength')">
                Min 3 characters required
            </mat-error>

        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>email</mat-label>
            <input matInput placeholder="email" formControlName="email">
            <mat-error *ngIf="form.get('email')!.hasError('required')">
                Required field email
            </mat-error>
            <mat-error *ngIf="form.get('email')!.hasError('email')">
                Only valid email
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>password</mat-label>
            <input matInput type="password" placeholder="password" formControlName="password">
            <mat-error *ngIf="form.get('password')!.dirty && form.get('password')!.hasError('required')">
                Required field password
            </mat-error>
            <mat-error *ngIf="form.get('password')!.dirty && form.get('password')!.hasError('minlength')">
                Minimum password length 3
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
            <mat-error *ngIf="form.get('confirmPassword')!.dirty && form.get('confirmPassword')!.hasError('required')">
                Required confirm password
            </mat-error>
            <mat-error *ngIf="form.get('confirmPassword')!.dirty && form.get('confirmPassword')!.hasError('minlength')">
                Minimum confirm password length 3
            </mat-error>
            <mat-error *ngIf="form.get('confirmPassword')!.hasError('mismatch')">
                Password and confirm password doesn't match
            </mat-error>

        </mat-form-field>
    </form>
    <!-- <div *ngIf="form!.hasError('mismatch')">
        <h6>Password and confirm password not match</h6>
    </div> -->

    <button mat-raised-button type="button" [disabled]="form.invalid" (click)="register()">Register</button>
    <button mat-raised-button type="button" (click)="closeDialog()">Close</button>
</div>