<h1>Contact</h1>
<input type="email" [formControl]='emailField'>
<button [disabled]="emailField.invalid">send</button>
<div class="formMessage">
    <p *ngIf="emailField.errors && emailField.dirty">*email errors</p>
    <ul>
        <li *ngIf = "emailField.hasError('required')">required</li>
        <li *ngIf = "emailField.hasError('minlength')">10 characters minimun length</li>
        <li *ngIf = "emailField.hasError('email')">wrong email format</li>
    </ul>
</div>
<hr>
<input type="text" [formControl] = 'nameField'>
<button [disabled] = "nameField.hasError('isXaviNameValidator')">name is Xavi, login granted!</button>
