body {
    padding-block: 64px;
}

.firstBodyImage {
    height: 250px;
    margin-bottom: 100px;
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
}

.firstBodyImage.isHandset {
    height: 190px;
    margin-bottom: 50px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}