.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.firstBodyImage {
    margin-top: 70px;
    height: 250px;
    margin-bottom: 70px;
}

.firstBodyImage.isHandset {
    height: 190px;
    margin-bottom: 30px;
}