.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    padding-top: 20px;
    padding-bottom: 20px;
}

.chip{
    background-color: #efefef  !important; /* Color de fondo */
    color: rgb(255, 255, 255)  !important; /* Color del texto */
    border: 1px solid #5d5d5d  !important; /* Borde */
}

.chip.selected {
    background-color: #3f90ee !important;/* Rojo */
    color: rgb(255, 255, 255)  !important; /* Color del texto */
    border: 1px solid #5d5d5d  !important; /* Borde */
  }



