body {
    background-image: url("./../../../../assets/images/cup.svg");
    background-size: 5%;
    background-repeat: repeat-x;
}

// ::ng-deep .mat-card {
//     border: 75px !important;
//     border-radius: 30px !important;
//     border: 55px solid #000;
// }

mat-form-field {
    width: 35vw;
}

.cupCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px !important;
    border: 1px solid #f3f3f3;
}

.cardContainer {
    padding-left: 30%;
    padding-right: 30%;
}

.title {
    padding-top: 100px;
    text-align: center;
}

.divButtonsAndImage {
    position: relative;
}

// .buttons {
//     float: left;
// }

.buttons button {
    margin-right: 10px;
}

.inputButton {
    display: none;
}


.imagePreviewDiv {
    position: absolute;
    top: -10%;
    left: 100%;
}

.imagePreview {
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

// .errorMessage {
//     color: red;
//     font-size: 12px;
//     margin-top: -32px;
// }