.loading{
    background-color:rgb(236, 247, 250);
    color: #284389;
    position: fixed;
    padding-inline: 47vw;
    padding-block: 20vw;
    z-index: 3;
    opacity: 85%;
    text-justify: distribute;
    text-align: center;
    top: 0px;
    bottom: 0px;
}

.loading.isHandset{
    background-color:rgb(236, 247, 250);
    color: #284389;
    position: fixed;
    padding-inline: 35vw;
    padding-block: 75vw;
    z-index: 3;
    opacity: 85%;
    text-justify: distribute;
    text-align: center;
    top: 0px;
    bottom: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .title {   
    padding-top: 100px;
}

.container .cupCard{
    width: 80%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
}

.container .cupCard .subtitle{
    margin-top: 5px;
    text-align: center;
}

.container .cupCard .cardContent {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divButtonsAndImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons button {
    margin-right: 10px;
}

.inputButton {
    display: none;
}

.imagePreviewDiv {
    width: 30%;
    height: 20cqw;
    margin-bottom: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagePreviewDiv.isHandset{
    width: 60%;
    height: 40cqw;
    margin-bottom: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name, .origin, .description {
    width: 100%;
}

.imagePreview {
    width: 100%;
    height: 100%;
    object-fit: cover;
     border-radius: 5%;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}