<body>
  <div class="container">
    <h1 class="title">Let's create your ❤️ Cup</h1>
    <mat-card class="cupCard">
      <mat-card-title class="subtitle">Please fill all fields</mat-card-title>
      <mat-card-subtitle class="subtitle">...and your cup was created!</mat-card-subtitle>
      <form novalidate [formGroup]="form">
        <mat-card-content class="cardContent">

          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Cup name" formControlName="name" (ngModelChange)="onCupFieldChange('name')">
            <mat-error *ngIf="form.get('name')?.hasError('minlength') || form.get('name')?.hasError('required')">
              Required filed
              Minimum 3 characters length
            </mat-error>
            <mat-error *ngIf="form.get('name')?.hasError('maxlength')">
              Maximum 30 characters length
            </mat-error>
            <mat-error *ngIf="form.get('name')?.hasError('existCupName')">
              Name exist, use another please
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Origin</mat-label>
            <input matInput type="text" placeholder="Origin" formControlName="origin" (ngModelChange)="onCupFieldChange('origin')">
            <mat-error *ngIf="form.get('origin')?.hasError('required')">
              Required field
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput name="Description" placeholder="Description" formControlName="description" (ngModelChange)="onCupFieldChange('description')"></textarea>
            <mat-error *ngIf="form.get('description')?.hasError('required')">
              Required field
            </mat-error>
            <mat-error *ngIf="form.get('description')?.hasError('maxlength')">
              Maximum 250 characters length
            </mat-error>
            <mat-error *ngIf="form.get('description')?.value.length > 250">
              counter: {{form.get('description')?.value.length}} characters length
            </mat-error>
          </mat-form-field>
          <div *ngIf="showProgressBar">
            <mat-progress-bar mode="query"></mat-progress-bar>
          </div>
        </mat-card-content>
        <br>
        <mat-card-actions>
          <div class="divButtonsAndImage">
            <div class="buttons">
              <input type="file" class="inputButton" (change)="onSelectedFile($event)" #input>
              <button *ngIf="!file" mat-raised-button color="primary" (click)="input.click()"
                matTooltip="Upload image">Upload image</button>
              <button [disabled]="!form.valid || !file" mat-raised-button color="primary" (click)="onCreateCup()"
                matTooltip="Create">Create!</button>
              <button mat-raised-button color="primary" routerLink="/" matTooltip="Cancel">Cancel</button>
              <div class="imagePreviewDiv">
                <img class="imagePreview" *ngIf="urlImage" [src]="urlImage" alt="Imagen"
                  [ngClass]="{'isHandset': isHandset$ | async}">
              </div>
            </div>
          </div>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</body>