<body>
    <img mat-card-image class="firstBodyImage" src="./../../../../assets/images/firstBodyImage.svg" alt="Fanaticups"
        [ngClass]="{'isHandset': isHandset$ | async}">
    <div infiniteScroll class="cups" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1"
        (scrolled)="onScrollDown()">

        <ngx-masonry loading="lazy" [ordered]="true" class="masonry"
            [options]="{ 
                gutter: 30, 
                fitWidth: true, 
                originLeft: false, 
                initLayout: true, 
                resize: true, 
                originTop: true, 
                percentPosition: true, 
                horizontalOrder: true 
                }">
            <app-cup ngxMasonryItem class="masonry-item" *ngFor="let cupElement of listOfCups"
                [ngClass]="{'isHandset': isHandset$ | async}" [cup]="cupElement" (buy)="onBuyClicked($event)"
                (detail)="onDetailClicked($event)">
            </app-cup>
        </ngx-masonry>
    </div>
</body>