// body {
//     padding-block: 64px;
// }

.cups {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.loading {
    position: fixed;
    padding-inline: 45vw;
    z-index: 3;
    scale: .8;
}

// .firstBodyImage {
//     height: 250px;
//     margin-bottom: 100px;
//     margin: 0 auto;
//     display: block;
//     margin-bottom: 40px;
// }

// .firstBodyImage.isHandset {
//     height: 190px;
//     margin-bottom: 50px;
//     margin: 0 auto;
//     display: block;
//     margin-bottom: 20px;
// }

.item {
    margin: 15px;
}

.item.isHandset {
    margin: 2px;
}