.firstBodyImage{
    height: 250px;
    margin-bottom: 100px;
    margin: 0 auto; 
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
}

.firstBodyImage.isHandset{
    height: 190px;
    margin-bottom: 50px;
    margin: 0 auto; 
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
}

.cups{
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    align-items: flex-end;

    // display: grid;
    // grid-template-columns: 0.4fr 0.3fr 0.3fr;
    // grid-column-gap: 10px;
    // grid-row-gap: 15px;
}
