body{
    margin: .5em;
    //background-color: rgb(158, 158, 158);
}

.cups{
    //background-color: aqua;
    //padding-left: 5%;
    overflow-anchor: none; //para prevenir auto scroll up de libreria masonry TODO
}

.masonry{
    overflow-anchor: none; //para prevenir auto scroll up de libreria masonry TODO
    
}

.firstBodyImage{
    height: 250px;
    margin-bottom: 100px;
    margin: 0 auto; 
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
}

.firstBodyImage.isHandset{
    height: 190px;
    margin-bottom: 50px;
    margin: 0 auto; 
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
}

.masonry-item{
    //width: 350px;
    //width: 100%;
    margin: 10px;
}

.masonry-item.isHandset{
    //width: 160px;
    //width: 100%;
    margin: 2px;
}