.detailContainer{
    display: flex;
    flex-direction: column;
    flex-flow: center;
    padding-right: 0;
}

.detail{
    width: auto;
    display: flex;
    justify-content:center;
    flex-flow: row wrap;
}

.right{
    margin-left: 0;
    width: 65%;
    height: auto;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    //position: absolute;
}

.right.smallScreenRight{
    margin-left: 0;
    width: 100%;
    height: auto;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-icon-image{
    position: relative;
}

.left{
    width: 35%;
    height: auto;
}

.left.smallScreenLeft{
    width: 100%;
    height: auto;
}

.backButton{
    cursor: pointer;
    width: 5%;
    height: auto;
}

.cupImage {
    position: relative;////////////
    width: 80%;
    height: auto;
    object-fit:cover;
    border-radius: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;

}

.inputButton {
    display: none;
}

.title-group {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.title-left{
    margin-left: 20px;
}

.title-edit{
    width: 90%;
}

.title-edit input {
    font-size: 30px;
    font-weight: bold;
}

.description-edit {
    width: 90%;
}

.description-edit textarea{
    font-weight:lighter;
}

.edit-icon-right{
    margin-right: 20px;
}

.origin-user-group{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.origin {
    margin-left: 20px;
}

.user{
    color: rgb(70, 70, 70);
    margin-right: 20px;
    cursor: pointer;
}

.cup-price{  
    text-align: right;
    margin-right: 20px;
}

.description{
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.description p {
    color:black;
    font-size: large;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 20px;
    max-width: 85%;

}

.buttons {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    gap: 20px;
    margin-bottom: 20px;
}

.buttons.isHandset {
    display: flex;
    justify-content: right;
    margin-right: 10px;
    gap: 10px;
    margin-bottom: 10px;
}

.comments{
    text-align: right;
    margin-right: 20px;
}

.uploadImage {
    margin-right: 10px;
}