.detailContainer {
    display: flex;
    flex-direction: column;
    flex-flow: center;
    padding-right: 0;
    padding-top: 64px;
}

.detailContainer.isHandset {
    display: flex;
    flex-direction: column;
    flex-flow: center;
    padding-right: 0;
    padding-top: 56px;
    //padding-block: 55px;
}

.detail {
    width: auto;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.left {
    margin-left: 0;
    width: 65%;
    height: 54vw;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    container-type: inline-size;
}

.left.isHandset {
    margin-left: 0;
    width: 100%;
    height: 100vw;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    container-type: inline-size;
}

.cup-image {
    width: 80cqw;
    height: 80cqw;
    object-fit: cover;
    border-radius: 10%;
}

.edit-icon-image {
    position: relative;
}

.right {
    width: 35%;
    height: 54vw;
    container-type: inline-size;
    display: flex;
    flex-direction: column;
}

.right.isHandset {
    width: 100%;
    height: auto;
}

.back-button {
    cursor: pointer;
    width: 5%;
    height: auto;
}

.inputButton {
    display: none;
}

.title-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-left: 20px;
}

.title-edit {
    width: 90%;
}

.title-edit input {
    font-size: 30px;
    font-weight: bold;
}

.description-edit {
    width: 90%;
}

.description-edit textarea {
    font-weight: lighter;
}

.edit-icon-right {
    margin-right: 20px;
}

.origin-user-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.origin {
    margin-left: 20px;
}

.user {
    color: rgb(70, 70, 70);
    margin-right: 20px;
    cursor: pointer;
}

.cup-price {
    text-align: right;
    margin-right: 20px;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description p {
    color: black;
    font-size: large;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 20px;
    max-width: 85%;
    height: 30cqw;
    max-height: 30cqw;
    overflow: auto;
}

.buttons {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    gap: 20px;
    margin-bottom: 20px;
}

.buttons.isHandset {
    display: flex;
    justify-content: right;
    margin-right: 10px;
    gap: 10px;
    margin-bottom: 10px;
}

.comments {
    text-align: right;
    margin-right: 20px;
}

.uploadImage {
    margin-right: 10px;
}

.chat {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.chat.isHandset{
    width: 100%;
    height: 100vh;
}