.detailContainer{
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.detail{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content:center;    
}

.right{
    width: 65%;
    height: auto;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;

}

.left{
    width: 35%;
    height: auto;
}

.backButton{
    cursor: pointer;
    width: 5%;
    height: auto;
}

.cupImage {
    width: 80%;
    height: auto;
    object-fit:cover;
    border-radius: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.descriptionShort{
    color:black;
    font-size: large;
    padding-left: 20px;
    padding-right: 20px;
}

.buttons {
    display: flex;
    flex: 1 1 auto;
    gap: 10px;
}

.cupPrice{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 10px;
}

.user{
    display: flex;
    justify-content: flex-end;
    color: rgb(70, 70, 70);
    padding-left: 10px;
    padding-top: 10px;
}