body{
    background-image: url("./../../../../assets/images/cup.svg");
    background-size: 5%;
    // background-repeat: space;
    background-repeat: repeat-x;
}

.container{


}

.inputButton{
    display: none;
}

.cardContainer{
    padding-left: 30%;
    padding-right: 30%;
}

.title{
    padding-top: 100px;
    text-align: center;
}

::ng-deep .mat-card{
    border: 75px !important;
    border-radius: 30px !important;
    border: 55px solid #000;
   }

.cupCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    width:35vw;
  }

//   .buttons {
//     display: flex;
//     flex-direction:row;
//     justify-content: end;

//     // flex: 1 1 auto;
//     gap: 10px;
// }