<body>
    <section class="header" [ngClass]="{'isHandset': isHandset$ | async}">
        <div class="header-text" [ngClass]="{'isHandset': isHandset$ | async}">{{authService.getUsername()}} space</div>
    </section>
    <section>
        <form class="menu">
            <label for="my-cups" matTooltip="My Cups">My cups</label>
            <input type="radio" id="my-cups" name="menu-choice" class="visually-hidden" (click)="loadMyCups()">
            <label for="favorites" matTooltip="Favorites">Favorites</label>
            <input type="radio" id="favorites" name="menu-choice" class="visually-hidden" (click)="loadFavorites()">
        </form>
    </section>
    <section class="my-cups-section" *ngIf="isMyCupsSelected">
        <app-cup-list class="list" [criteria]="criteria"></app-cup-list>
    </section>
    <section class="favorites-section" *ngIf="isFavoritesSelected">
        <app-cup-list class="list" [criteria]="criteria"></app-cup-list>
    </section>
</body>