<mat-card class="cup-card" (click)="showDetail()" [ngClass]="{'isHandset': isHandset$ | async}">
    <mat-card-header class="card-header">
        <mat-card-title class="card-title" [ngClass]="{'isHandset': isHandset$ | async}">
            {{ cup.name }}
        </mat-card-title>
        <mat-card-subtitle  class="card-origin" [ngClass]="{'isHandset': isHandset$ | async}">
            {{ cup.origin }}
        </mat-card-subtitle> 
    </mat-card-header>
    <mat-card-content class="card-content" [ngClass]="{'isHandset': isHandset$ | async}">
        <div class="imageContainer">
            <img class="cupImage" src={{cupImage}} alt={{cup.image}} [ngClass]="{'isHandset': isHandset$ | async}">
        </div>
        @if(isHandset$ | async){
        <p class="descriptionShort" [ngClass]="{'isHandset': isHandset$ | async}"
            [innerHTML]="cup.description | slice: 0: 50 | threeDotsForShortDescription"></p>
        }
        @else{
        <p class="descriptionShort" [ngClass]="{'isHandset': isHandset$ | async}"
            [innerHTML]="cup.description | slice: 0: 80 | threeDotsForShortDescription"></p>

        }

        @if((isHandset$ | async)=== false){
        <mat-divider></mat-divider>
        <div class="priceAndUser">
            <div class="user">
                <h4>from: {{ cup.user?.name }}</h4>
            </div>
            <div class="cupPrice">
                <h4>Price: {{ cup.price }} €</h4>
            </div>
        </div>
        }
    </mat-card-content>
    <!-- <mat-card-actions>
            <div class="buttons">
                 <button mat-raised-button (click)="viewDescription()" color="primary" *ngIf="isLogged">Buy</button> 
            </div>
        </mat-card-actions> -->
</mat-card>