<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{ cup.name }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img class="cupImage" [src]="cup.image" alt="">
        <p class = "origin">{{ cup.origin }}</p>
        <div class="descriptionShort">
            <p>{{ cup.description | slice: 0: 50 | threeDotsForShortDescription }}</p>
        </div>
        <div class="buttons">
            <button mat-raised-button (click)="viewDescription()" color="primary" *ngIf="isLogged">Buy</button>
            <button mat-raised-button (click)="showDetail()" color="primary">Detail</button>
        </div>
    </mat-card-content>
</mat-card>
