.cupCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;  ///este estaba
    cursor: pointer;
    border-radius: 25px !important;
    border: 1px solid #f3f3f3;

    ////
    /// 
    flex-wrap: wrap;
    align-items: flex-start; /* Evita que las tarjetas se estiren para igualar la altura */

}

.cupCard:hover{
    filter: brightness(50%);
}

.imageContainer{
    display: flex;
    justify-content:center;
    align-items: center; 
}

.cupImage {
    margin:auto;
    //height: 250px;
    // width: auto;
    border-radius: 10%;
    overflow:hidden;
    max-height: auto;
    max-width: 350px;
    min-height: auto;
    min-width: 350px;
}

.cupImage.isHandset {
    //height: 250px;
    // width: auto;
    border-radius: 10%;
    overflow:hidden;
     max-height: auto;
     max-width: 100px; //ERA 250!
     min-height: auto;
     min-width: 100px;
}

.descriptionShort{
    color:black;
    font-size: large;
    padding-left: 20px;
    padding-right: 20px;
}

.descriptionShort.isHandset{
    color:black;
    font-size:xx-small;
    padding-left: 2px;
    padding-right: 2px;
}

.buttons {
    display: flex;
    flex: 1 1 auto;
    gap: 10px;
}

.priceAndUser{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cupPrice{
    color: rgb(70, 70, 70);
}

.user{
    color: rgb(70, 70, 70);
}