.cupCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 30px !important;
    border: 1px solid #f3f3f3;
}

.cupCard:hover{
    filter: brightness(50%);
}

.imageContainer{
    display: flex;
    justify-content:center;
    align-items: center; 
}

.cupImage {
    margin:auto;
    //height: 250px;
    // width: auto;
    border-radius: 10%;
    overflow:hidden;
     max-height: 300px;
     max-width: auto;
}

.cupImage.isSmallScreen {
    //height: 250px;
    // width: auto;
    border-radius: 10%;
    overflow:hidden;
     max-height: 150px;
     max-width: auto;
}

.descriptionShort{
    color:black;
    font-size: large;
    padding-left: 20px;
    padding-right: 20px;
}

.buttons {
    display: flex;
    flex: 1 1 auto;
    gap: 10px;
}

.priceAndUser{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cupPrice{
    color: rgb(70, 70, 70);
}

.user{
    color: rgb(70, 70, 70);
}