.cup-card{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; //era center  
    cursor: pointer;
    border-radius: 25px !important;
    border: 1px solid #f3f3f3;

    //for masonry ngx-masonry
    // -webkit-column-break-inside: avoid;
    // page-break-inside: avoid;
    // break-inside: avoid;

    //size
    max-height: auto;
    max-width: 360px;
    min-height: auto;
    min-width: 360px;
}

.cup-card.isHandset{
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; //era center  
    cursor: pointer;
    border-radius: 10px !important;
    border: 1px solid #f3f3f3;

    //size
    max-height: auto;
    max-width: 160px;
    min-height: auto;
    min-width: 160px;
}

.cup-card:hover{
    filter: brightness(50%);
}

.card-header{
    padding-top: 2px;
    margin: 0 auto;
}

.card-title{
    margin-top: 10px;
    padding-bottom: 0px;
    font-size: x-large;
}

.card-title.isHandset{
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: x-small;
    margin-top: -5px;
    margin-bottom: -5px;
    border: 0px;
}

.card-content{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.card-content.isHandset{
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
}

.imageContainer{
    display: flex;
    justify-content:center;
    align-items: center; 
}

.cupImage {
    margin:auto;
    border-radius: 10%;
    overflow:hidden;
    width: 100%;
    // max-height: auto;
    // max-width: 350px;
    // min-height: auto;
    // min-width: 350px;
}

.cupImage.isHandset {
    margin: auto;
    border-radius: 5%;
    overflow:hidden;
    width: 95%;
    //  max-height: auto;
    //  max-width: 160px; //ERA 250!
    //  min-height: auto;
    //  min-width: 160px;
}

.descriptionShort{
    color:black;
    font-size: medium;
    padding-left: 20px;
    padding-right: 20px;
}

.descriptionShort.isHandset{
    color:black;
    font-size:xx-small;
    padding-left: 2px;
    padding-right: 2px;
}

.buttons {
    display: flex;
    flex: 1 1 auto;
    gap: 10px;
}

.priceAndUser{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1px;
    padding-bottom: 1px;
}

.cupPrice{
    color: rgb(70, 70, 70);
}

.user{
    color: rgb(70, 70, 70);
}