.header-user{
    display: flex;
    justify-content:start;
    background-color: rgb(224, 254, 254);
    margin-top: 80px;
    margin-bottom: 30px;
}

.title{
    font-size: large;
}

.account_circle{
    margin-top: 12px;
    margin-left: 5%;
    //font-size: 50px;
}